asgiref==3.9.2
certifi==2025.10.5
charset-normalizer==3.4.4
cloudinary==1.44.1
colorama==0.4.6
decorator==5.2.1
dj-database-url==3.0.1
Django==4.2.16
django-cloudinary-storage==0.3.0
django-cors-headers==4.4.0
django-extensions==4.1
django-filter==24.3
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
drf-nested-routers==0.95.0
gunicorn==23.0.0
idna==3.11
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.2.1
numpy==2.3.3
packaging==25.0
pillow==10.4.0
proglog==0.1.12
psycopg==3.2.10
psycopg-binary==3.2.10
PyJWT==2.10.1
python-decouple==3.8
python-dotenv==1.1.1
requests==2.32.5
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
whitenoise==6.11.0
